{% extends 'layout.html' %} {%block content%}

<h1>About</h1>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum libero ab
  modi, commodi asperiores atque totam temporibus. Explicabo neque molestiae
  tenetur voluptatum adipisci fugiat beatae odit ab tempore amet, et sed
  consequatur itaque animi cupiditate inventore odio totam dolorem omnis sint!
  Necessitatibus, perferendis tempore? Pariatur dolores asperiores quaerat
  aperiam nam.
</p>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum libero ab
  modi, commodi asperiores atque totam temporibus. Explicabo neque molestiae
  tenetur voluptatum adipisci fugiat beatae odit ab tempore amet, et sed
  consequatur itaque animi cupiditate inventore odio totam dolorem omnis sint!
  Necessitatibus, perferendis tempore? Pariatur dolores asperiores quaerat
  aperiam nam.
</p>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum libero ab
  modi, commodi asperiores atque totam temporibus. Explicabo neque molestiae
  tenetur voluptatum adipisci fugiat beatae odit ab tempore amet, et sed
  consequatur itaque animi cupiditate inventore odio totam dolorem omnis sint!
  Necessitatibus, perferendis tempore? Pariatur dolores asperiores quaerat
  aperiam nam.
</p>

{% endblock %}
