{% extends 'layout.html' %} {% block content %}

<h1>Contact</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde aliquam deleniti
  magni ut consequuntur error reprehenderit dicta, eius in hic expedita eos
  perferendis, repellendus soluta blanditiis nam quia quae officia? Veniam,
  odit. Odit sed vel quod qui totam vero libero. Impedit aperiam suscipit ex.
  Quasi, optio nostrum? Ex aspernatur obcaecati harum sed beatae libero dolor
  ipsa! Mollitia modi ipsa ratione facere pariatur quibusdam distinctio totam,
  cumque et quae recusandae nulla tenetur, eligendi fugiat officia vero quia
  earum nihil aliquid architecto nobis accusamus praesentium maiores?
  Repudiandae maxime nulla, tenetur placeat doloremque dolorum eveniet sapiente
  commodi cum quis debitis at provident ullam.
</p>

{% endblock %}
