{% extends 'layout.html' %} {% block content %}

<h1>Email Us</h1>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, nemo.
  Harum, totam alias porro facilis id maiores unde quasi quisquam et.
  Consectetur nemo itaque odio voluptatem laboriosam animi porro hic
  dignissimos, rem praesentium quo sapiente reprehenderit neque officiis aliquam
  assumenda reiciendis provident, cupiditate ab nulla sequi, culpa
  necessitatibus quis? Ut iusto error, incidunt alias quibusdam voluptatem
  blanditiis animi, eum earum facilis ipsam consequuntur molestiae autem
  adipisci asperiores quo dolore excepturi esse! Voluptates eum porro quasi
  soluta libero ea labore eius esse sunt enim reiciendis eaque illo praesentium,
  harum amet accusamus? Quod fugiat eos numquam at nobis dicta corporis, quidem
  omnis!
</p>

{% endblock %}
